.content{
	display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100px;
    margin-left: 200px;
    flex-direction: column;
    width: 65%;
}

.content .block{
	margin-top: 25px;
	margin-left: 9%;
	width: 75%;
	font-family: Arial;
	margin-bottom: 40px;
	padding: 15px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: white;
	overflow: hidden;
	border:1px solid #cac7c7;
}


.content .code_watch{
	padding-left:20px;
}

.content .block_img{
	align-items: center;
}

.content .code_watch .text_code_watch{
	font-family: caption, Arial, sans-serif;
	font-weight: 600;
}


.content .code_watch .btn{
	margin-top: 10px;
	width: 200px;
}
.code_watch .btn:hover{
	color:#ABC1AD;
}


.content .block_img .row text{
	padding-left:75%;color:brown;font-family:cursive;
}


