<div class="news_recomm">
	<div style="margin-bottom:15px;font-size:19px;">
		Свежие новости:
	</div>
	<ul class="list-group">
		<li class="list-group-item"><a href="#">Футбольный тренер в перерыве пробил кулаком стену, когда его команда проигрывала. И они победили!</a></li>
		<li class="list-group-item"><a href="#">Коллеги и друзья Юрия Альбертовича – о работе над FIFA, лю</a></li>
		<li class="list-group-item"><a href="#">News#3 Long title  Long title44  Long title22 </a></li>
		<li class="list-group-item"><a href="#">Когда он был в ударе, его репортаж становится поэмой.</a></li>
	</ul>
</div>